<p id="notice"><%= notice %></p>

<h1>Listing Kits</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Mission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.title %></td>
        <td><%= kit.mission %></td>
        <td><%= link_to 'Show', kit %></td>
        <td><%= link_to 'Edit', edit_kit_path(kit) %></td>
        <td><%= link_to 'Destroy', kit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kit', new_kit_path %>
