<div class='container-fluid'>
  <div class='row'>
    <p id="notice"><%= notice %></p>
  </div>
  <div class='row'>
    <h1>
      <%= @kit.title %>
    </h1>
  </div>
  <div class='row'>
    <strong>
      <%= @kit.mission %>
    </strong>
  <%= link_to 'Edit', edit_kit_path(@kit) %> |
  <%= link_to 'Back', kits_path %>
  </div>

  <div class='row'>
    <strong>Tool box: </strong>
    <div class='col-md-8'>
     <div class='flex-container'>
    <% if @kit.tools %>
        <% @kit.tools.each do | tool | %>
          <div class='flex-item'>
            <h4><%= tool.name %></h4>
            <% if tool.thumbnail_url %>
              <div class="thumbnail">
                 <% link_text = tool.thumbnail_url.present? ? "<img src='#{tool.thumbnail_url}'/>".html_safe : kit.url %>
                 <%= link_to link_text, tool.url %>
              </div>
            <% end %>
          </div>
        <% end %>
    <% end %>
      </div>
    </div>
  <%= link_to 'Add Tool', new_kit_tool_path(@kit) %>
  </div>

</div>
